.content {
  background: #EEEEEE;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  padding: 20px;
}

#user_nav { float: right; }

.product {
  div {
    float: left;
    padding-left: 10px;
    &:first-child { border-left: none; }
  }
  float: left;
  .name { padding: 10px 10px; width: 300px; }
  .price {
    border-left: 1px solid black;
    padding: 10px 10px;
    width: 300px;
  }
  .description { width: 300px; }
}

.error_mes_pass {
  color: red;
  float: right;
  text-align: justify;
  width: 190px;
}
